body{
    background-color: rgb(177, 219, 216);
    text-align: center;
}

.TITULO{
    background-color: rgb(70, 86, 110);
}

.TITULO2{

    background-color: rgb(149, 169, 175);
}

p{
    color: rgb(0, 0, 0);
    text-align: justify;
     
}

img{

    align-items: center;

}