body{
    background-color: rgb(38, 75, 85);
    text-align: center;
}

.TITULO{
    background-color: rgb(38, 48, 63);
}

.TITULO2{

    background-color: rgb(38, 47, 54);
}

p{
    color: rgb(0, 0, 0);
     
}
 